* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(66, 37, 3);
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    padding: 25px 25px;
    border-radius: 10px;
    background-color: bisque;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 0px 8px 15px rgb(179, 153, 127, 0.7);
}

h1 {
    font-size: 35px;
    color: rgb(66, 37, 3);
    text-align: center;
    padding-bottom: 10px;
}

.container input {
    padding: 10px;
    border-radius: 30px;
    width: 350px;
    border: none;
}

button {
    padding: 10px;
    color: bisque;
    background-color: rgb(66, 37, 3);
    font-weight: 500;
    font-size: 20px;
    border-radius: 30px;
}

button:hover {
    color: aliceblue;
    background-color: black;
}

.qrimg img {
    padding: 10px;
    display: flex;
    position: relative;
    left: 50%;
    opacity: 0;
    transform: translate(-50%) scale(0.9);
    transition: ease-out 1s;
}

.qrimg.show img {
    opacity: 1;
    transform: translate(-50%) scale(1);
}